<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Insert information for User</h1>
<br>

<form th:action="@{/admin/saveUser}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Name: <input type="text" th:field="*{username}" required/>
    <br><br>
    Surname: <input type="text" th:field="*{surname}"/>
    <br><br>
    Age: <input type="number" th:field="*{age}"/>
    <br><br>
    Citizenship: <input type="text" th:field="*{citizenship}"/>
    <br><br>
    Password: <input type="password" th:field="*{password}" required/>
    <br><br>
    Role(s): <br>
    <th:block th:each="role : ${allRoles}">
        <label>
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
            <span th:text="${role.rolename}"></span>
        </label>
        <br>
    </th:block>
    <br><br>
    <input type="submit" value="Save">
    <br><br>
    <form action="/logout" method="post" style="display:inline;">
        <input type="submit" value="Logout"/>
    </form>
</form>
</body>
</html>
